body{
    margin: 0;
}

header h1{
    text-align: center;
    background-color: black;
    color: white;  
}

#color-palette{
    text-align: center;
    border: 1px solid black;
}

.color{ 
    display: inline-block;
    margin: 70px;
}